<div class="sky" #sky></div>
<img src="assets/landing-page/fog.png" class="fog fog--1" alt="fog" />
<img src="assets/landing-page/fog2.png" class="fog fog--2" alt="fog" />
<img src="assets/landing-page/fog2.png" class="fog fog--3" alt="fog" />

<app-asset
  [class]="'mountain mountain--1'"
  [assetName]="'mountain1'"
></app-asset>
<app-asset
  [class]="'mountain mountain--2'"
  [assetName]="'mountain2'"
></app-asset>
<div class="floor"></div>
<app-asset [class]="'house house--1'" [assetName]="'house1'"></app-asset>
<app-asset [class]="'house house--2'" [assetName]="'house2'"></app-asset>
<app-asset [class]="'house house--3'" [assetName]="'house3'"></app-asset>
