<app-landing></app-landing>
<app-section [title]="'ABOUT'">
  <div class="introduction">
    <h2 class="mt">INTRODUCTION</h2>
    <p class="body-1">
      Hello!
      <span mouseTracking>Sead Sabanovic</span>, a developer who is excited
      about transitioning back into the Angular world. 25 years of life and over
      3 years of development experience, I bring a combination of skills,
      passion, and a strong desire to excel.
      <br />
      <br />
      Highly motivated; quick to learn and eager to prove myself by taking on
      challenging tasks. To learn more about my qualifications and experience,
      please feel free to download my CV and cover letter.

      <br /><br />
      Excited about the prospect of contributing to impactful projects in the
      Angular ecosystem and leveraging my skills to deliver exceptional results.
      If you have any further questions or would like to discuss potential
      opportunities, please don't hesitate to reach out via
      <a
        href="https://www.linkedin.com/in/sead-sabanovic-90250a1a2/"
        target="_blank"
        mouseTracking
        ><span>LinkedIn</span>
      </a>
      or
      <a href="mailto:sead.sabanovic97@gmail.com" mouseTracking>
        <span>Email</span> </a
      >.
    </p>
    <a
      mouseTracking
      mat-fab
      extended
      color="primary"
      href="assets/Sead_Sabanovic_CV.pdf"
      download="Sead_Sabanovic_CV.pdf"
      target="_blank"
    >
      <mat-icon>download</mat-icon>
      CV / COVER LETTER
    </a>

    <h2 class="mt">SKILLS</h2>

    <div class="skills icons">
      <img
        class="skills__skill icons__icon"
        [src]="skill.src"
        [alt]="skill.alt"
        *ngFor="let skill of skills"
        [matTooltip]="skill.alt"
        matTooltipClass="tooltip--dark"
        loading="lazy"
      />
    </div>

    <h2 class="mt">SOME BRANDS I'VE WORKED FOR</h2>

    <div class="skills icons">
      <img
        class="skills__skill icons__icon"
        [src]="skill.src"
        [alt]="skill.alt"
        *ngFor="let skill of clients"
        [matTooltip]="skill.alt"
        matTooltipClass="tooltip--dark"
      />
    </div>
  </div>
</app-section>

<app-marquee></app-marquee>

<app-section [title]="'WORK'">
  <p class="body-1 mt">
    Please note that the portfolio displayed here represents only a portion of
    my work. Due to non-disclosure agreements (<span mouseTracking>NDA</span>)
    with certain clients and projects, I am unable to showcase the complete
    range of my experience.
  </p>
  <app-projects></app-projects>
</app-section>

<app-marquee></app-marquee>

<footer>
  <app-section>
    <span>&copy; 2023 Sead Sabanovic</span>
  </app-section>
</footer>
