<app-landing></app-landing>
<app-section [title]="'ABOUT'">
  <div class="introduction">
    <h2 class="mt">INTRODUCTION</h2>
    <p class="body-1">
      Hello!
      <span>Sead Sabanovic</span>, a developer who is excited about
      transitioning back into the Angular world. 25 years of life and over 3
      years of development experience; highly motivated; quick to learn and
      eager to prove myself by taking on challenging tasks. To learn more about
      my qualifications and experience, please feel free to download my CV and
      motivational letter.
    </p>
    <button mat-fab extended color="primary">
      <mat-icon>download</mat-icon>
      CV / COVER LETTER
    </button>

    <h2 class="mt">SKILLS</h2>

    <div class="skills icons">
      <img
        class="skills__skill icons__icon"
        [src]="skill.src"
        [alt]="skill.alt"
        *ngFor="let skill of skills"
        [matTooltip]="skill.alt"
        matTooltipClass="tooltip--dark"
      />
    </div>

    <h2 class="mt">BRANDS I'VE WORKED FOR</h2>

    <div class="skills icons">
      <img
        class="skills__skill icons__icon"
        [src]="skill.src"
        [alt]="skill.alt"
        *ngFor="let skill of clients"
        [matTooltip]="skill.alt"
        matTooltipClass="tooltip--dark"
      />
    </div>
  </div>
</app-section>
<app-section [title]="'WORK'">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia eos inventore
  dolorem illo voluptate, provident perferendis recusandae aspernatur minus
  eligendi id tempora voluptates doloribus velit deserunt. Dicta beatae
  provident atque totam at a ratione deserunt tempore iusto mollitia voluptatem
  doloremque doloribus dolorem neque voluptate veritatis commodi laborum ab
  maiores, optio quo! Qui ullam pariatur non, nobis quo eum recusandae quod quam
  aliquam et minus illo adipisci fuga perspiciatis inventore deleniti deserunt
  magni voluptate ea in. Pariatur nobis beatae distinctio odit architecto iste,
  ad rerum sint hic facere, sed, voluptas tempore quibusdam impedit dolore. Nam
  omnis ab sint culpa ad ipsam illo iste laudantium vero iusto delectus
  voluptates commodi, ducimus rem error asperiores amet beatae eos hic. Facere
  aliquid eligendi repellendus velit sapiente ex amet totam eaque ut modi culpa,
  debitis architecto tempore eveniet. Sunt consequuntur aut harum quisquam nihil
  quae molestiae velit dolores! Sunt, nemo? Quaerat veniam cumque non minus cum,
  libero iste ipsam alias laborum, at in omnis voluptates consectetur deleniti
  voluptatum, optio ducimus temporibus corporis quod blanditiis recusandae
  labore ullam. Assumenda magni repellat consequatur natus quas veniam vitae!
  Eaque tempora reprehenderit illo expedita impedit, architecto neque corrupti
  explicabo, recusandae magnam, soluta odio eveniet! Dolore, soluta iure.
  Quaerat nesciunt cumque modi facilis repellendus rem minima atque repudiandae
  est unde distinctio mollitia, consequatur placeat, illum corporis voluptas
  nisi harum, perspiciatis possimus voluptate quibusdam rerum dolorem? Beatae,
  voluptate id totam accusantium ipsam eligendi voluptas necessitatibus ea
  quidem nam saepe praesentium voluptatum laudantium. Voluptatem temporibus ut
  dicta quae, porro earum nisi adipisci quasi quos minima ipsum natus harum
  provident enim praesentium ipsa cumque maiores. Optio voluptates cumque quasi
  excepturi rem a nihil debitis explicabo odio blanditiis, iste ex sed maiores
  illum voluptatibus ab! Eum illo blanditiis repellendus illum odio natus
  numquam architecto quibusdam. Fugit, ut magnam? Commodi quod quae velit! Saepe
  adipisci, sequi autem rem recusandae sed laborum, quas sapiente nam
  aspernatur, aliquid temporibus nihil inventore pariatur hic. Repudiandae
  fugiat atque ullam perspiciatis. Non, delectus magnam. Voluptatibus doloremque
  consequatur repellendus iusto doloribus cumque amet ratione, praesentium culpa
  recusandae eos enim, eveniet aut fugiat ut quidem ipsam ad laboriosam?
  Recusandae illo deserunt laborum architecto, assumenda aspernatur corrupti
  dolore laboriosam aut vitae maiores vero totam iusto harum quae quasi
  perferendis repellendus rerum iure provident alias ut atque? Cum porro
  reiciendis debitis deleniti? Corrupti nesciunt neque reprehenderit molestiae
  dignissimos inventore unde at sint delectus officiis rem in, nostrum ea
  deleniti tenetur et ipsa aspernatur ipsam.
</app-section>
<!-- <app-marquee [items]="clients"></app-marquee> -->
